.baseContainer {
    width: 100%;
    position: relative;
}

.content {
    align-items: center;
    padding: 0 2vh;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 5em;
        font-family: CormorantInfant;
        margin-bottom: auto;
    }
    h2 {
        font-size: 5em;
        font-family: CormorantInfant;
        margin-bottom: auto;
    }
    p {
        font-size: 16px;
        padding: 0 2vh;
    }
}

.containerFirst {
    @extend .baseContainer;
    background-color: var(--white);
}

.containerThird {
    @extend .baseContainer;
    background-color: var(--white);
}

.containerSecond {
    @extend .baseContainer;
    background-color: var(--grey);
}

.containerFourth {
    @extend .baseContainer;
    background-color: var(--darkBlue);
    min-height: none;
}

@media (min-width: 1000px) {
    .baseContainer {
        min-height: none;
        min-height: 60vh;
    }
}

@media ( min-width: 720px) {
    .baseContainer {
        h3 {
            font-size: 7.21em;
        }
        p {
            font-size: 2vh;
        }
    }
}