.legend {
    font-size: 2.5vh;
    font-style: italic;
    margin-bottom: 30px;
    text-shadow: 0 0 3px var(--aqua), 0 0 7px #ffeb3b;
}

.hermes {
    height: 100px;
    max-width: 100%;
}

.temple {
    max-width: 100%;
    position: relative;
    margin: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.content {
    h2 {
        // @extend .titleAnimation;
    }
    .title {
        z-index: 1;
    }
}

.cloud1 {
    width: 500px;
    position: absolute;
    left: 40vw;
    bottom: 0vw;
}

.cloud2 {
    width: 500px;
    position: absolute;
    left: -40vh;
    bottom: 0vw;
}

@media (min-width: 500px) {
    .temple {
        display: none;
    }
}

@media (min-width: 1000px) {
    .cloud1 {
        width: 1000px;
        position: absolute;
        right: -40vw;
    }
    .cloud2 {
        left: -20vh;
    }
    .content {
        .title {
            align-self: flex-end;
            margin: 0 0 0 5%;
        }
        min-height: inherit;
        justify-content: start;
        flex-direction: row;
        margin: none;
        h2 {
            font-size: 12.21em;
        }
    }
    .hermes {
        height: 300px;
        position: relative;
        right: 110px;
        top: 90px;
    }
    .legend {
        font-size: 3vh;
        z-index: 1;
    }
    .temple {
        display: block;
        height: 550px;
        position: absolute;
        right: -15em;
        z-index: 1;
    }
}

@media (min-width: 1500px) {
    .cloud1 {
        width: 1000px;
        position: absolute;
        right: -40vw;
    }
}