.legend {
    font-size: 2.5vh;
    font-style: italic;
    margin-bottom: 30px;
}

.hermes {
    height: 100px;
    max-width: 100%;
}

.temple {
    max-width: 100%;
    position: relative;
    margin: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

@media (min-width: 500px) {
    .temple {
        display: none;
    }
}

@media (min-width: 1000px) {
    .content {
        .title {
            align-self: flex-end;
            margin: 0 0 0 5%;
        }
        min-height: inherit;
        justify-content: start;
        flex-direction: row;
        margin: none;
        h2 {
            font-size: 12.21em;
        }
    }
    .hermes {
        height: 300px;
        position: relative;
        right: 110px;
        top: 90px;
    }
    .legend {
        font-size: 3vh;
    }
    .temple {
        display: block;
        height: 550px;
        position: absolute;
        right: -15em;
        z-index: 1;
    }
}