$animation-slide: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
.font {
    font-size: 20px;
    font-weight: bold;
}

.navContainer {
    display: flex;
    position: absolute;
    flex-direction: row;
    @extend .font;
    justify-content: space-between;
    width: 100%;
    top: 0;
    z-index: 99999;
    .nav {
        position: fixed;
        right: 0;
        margin: 0;
        padding: 0;
        top: 6%;
        transform: translateY(-50%);
        z-index: 1;
        width: 100%;
        li {
            display: block;
            a {
                display: block;
                padding: 10px 20px;
                background-color: var(--specialBlue);
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }
            &:hover {
                color: var(--aqua);
            }
        }
    }
}

.bars {
    @extend .font;
    height: 6vh;
    position: fixed;
    padding: .5vh 0;
    z-index: 2;
    display: block;
    width: 100%;
    background-color: var(--white);
}

.navInitialClose {
    display: none;
}

.navOpen {
    display: block;
    background-color: var(--specialBlue);
    position: fixed;
    width: 100%;
    @extend .open;
}

.navClose {
    height: 0;
    opacity: 1;
    @extend .close;
}

@media (min-width: 600px) {
    .navContainer {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        .nav {
            top: 2%;
            width: auto;
            li:first-child {
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                &:hover {
                    background-color: var(--aqua);
                }
            }
            li {
                display: inline;
                a {
                    display: inline;
                }
            }
        }
    }
    .navInitialClose {
        display: block;
    }
    .bars {
        display: none;
    }
}

.open {
    -webkit-animation: slide-in-top $animation-slide both;
    animation: slide-in-top $animation-slide both;
}

.close {
    -webkit-animation: slide-in-down $animation-slide reverse both;
    animation: slide-in-down $animation-slide reverse both;
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-down {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}